*.pyc
*.pyo
__pycache__
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
.idea/
.sass-cache
.DS_Store

node_modules
npm-debug.log
db.sqlite3
assets
static/js/app.js
static/css
static/fonts/*